# Visual studio cache/options dir
.vs/

# Rider cache/options
.idea/

# User-specific files
**/*.suo
*.user

# Build results
**/[Dd]ebug/
**/[Rr]elease
**/[Rr]eleases
**/[Bb]in/
**/[Ll]og/
**/[Oo]bj/

**/appsettings.json
**/Properties/launchSettings.json